@font-face {
    font-family: "Poppins-Regular";
    src: url("../public/fonts/Poppins-Regular.woff2") format("woff2"),
    url("../public/fonts/Poppins-Regular.woff") format("woff"),
    url("../public/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../public/fonts/Poppins-Medium.woff2") format("woff2"),
    url("../public/fonts/Poppins-Medium.woff") format("woff"),
    url("../public/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../public/fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../public/fonts/Poppins-SemiBold.woff") format("woff"),
    url("../public/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../public/fonts/Poppins-Bold.woff2") format("woff2"),
    url("../public/fonts/Poppins-Bold.woff") format("woff"),
    url("../public/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
}