
@import "./variables.scss";
@import "./fonts.scss";

@mixin btn {
    padding: 12px 20px;
    font-family: "Poppins-Medium", Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: $border-radius;
    background-color: $blue;
    color: $white;
    border: 1px solid $blue;
    transition: .3s all;
    text-align: center;
    &:hover {
        opacity: .5;
    }
}

@mixin btn-inverse {
    padding: 12px 20px;
    font-family: "Poppins-Medium", Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: $border-radius;
    color: $gray;
    border: 1px solid $gray;
    transition: .3s all;
    text-align: center;
    &:hover {
        opacity: .5;
    }
}

@mixin title {
    font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 75px;
    text-align: center;
}